<h1>Welcome to TYML, aren't you excited? Why not try signing in for the very first time?</h1>

<div>
  <%= form_tag(sessions_url, :method => :post) do %>
    <%= email_field_tag :email, session[:email], :placeholder => "Email" %>
    <%= password_field_tag :password, nil, :placeholder => "Password" %>
    <%= label_tag :remember_me %>
    <%= check_box_tag :remember_me %>
    <%= submit_tag "Sign in" %>
  <% end %>
</div>
